@import "tailwindcss";

@theme {
  /* LIGHT MODE */
  --color-bg: #FFFFFF;
  --color-bg-alt: #F7F7F8;
  --color-card: #FCFCFC;
  --color-border: #E5E7EB;

  --color-primary: #8A1538;
  --color-primary-hover: #6E102C;
  --color-accent: #B01E47;
  --color-subtle-tin: #F3E6EA;

  --color-text: #111827;
  --color-text-secondary: #374151;
  --color-text-muted: #6B7280;
  --color-text-inverted: #FFFFFF
}

@theme dark {
  /* DARK THEME */
  --color-bg: #0F172A;
  --color-bg-alt: #1E293B;
  --color-card: #111827;
  --color-border: #334155;

  --color-primary: #B01E47;
  --color-primary-hover: #C82A56;
  --color-accent: #E11D48;
  --color-subtle-background: #3F0D1F;

  --color-text: #F9FAFB;
  --color-text-secondary: #CBD5E1;
  --color-text-muted: #94A3B8;
  
}

